.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  color: #fdf6e3;
  font-size: 2.8em;
}

.hand-position {
  font-size: 2em;
  margin-bottom: 0.15em;
  color: #6c71c4;
}

.fret-position {
  margin-right: 0.1em;
}

.note-names {
  font-size: 2em;
  margin-top: 0.15em;
}

.app {
  background-color: #073642;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: #dc322f;
  font-size: 1.5em;
  margin-top: 2em;
}